@import '@/styles/media.scss';

.hero {
  position: relative;
  padding-top: var(--padding-top-hero);
  @include media('<phone') {
    padding-top: 100px;
  }
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.content {
  a {
    position: relative;
    text-decoration: underline;
    font-size: 1.4rem;
  }
}
