@import '@/styles/media.scss';

.slider {
  position: relative;
  height: 420px;
  width: 100%;
  @include media('<tablet') {
    height: 350px;
  }
  @include media('<phone') {
    height: 500px;
  }
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px 90px;
    overflow: hidden;
    border-radius: 5px;

    @include media('<phone') {
      padding: 25px;
    }

    .content {
      position: relative;
      width: 100%;
      max-width: 480px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include media('<phone') {
        justify-content: flex-start;
        text-align: center;
      }
      &.white {
        color: var(--color-white);
      }
      &.black {
        color: var(--color-black);
      }
      .subtitle {
        font-size: 0.9rem;
        font-weight: 300;
      }
      .title {
        font-size: 2.8rem;
        letter-spacing: -0.07rem;
        font-weight: 700;
        line-height: 1.2;
        margin: 24px 0;
        @include media('<phone') {
          font-size: 2.2rem;
        }
      }
      .desc {
        position: relative;
        font-size: 0.9rem;

        width: 100%;
        max-width: 350px;
        line-height: 1.7;
      }
    }
    .image_wrap {
      position: absolute;
      bottom: -10%;
      right: 0;
      width: 50%;
      height: 120%;
      user-select: none;
      @include media('<phone') {
        height: 65%;
        width: 100%;
      }
      img {
        object-fit: contain;
        object-position: bottom;
      }
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    opacity: 0;
    z-index: -1;
    transition: opacity 1s cubic-bezier(0.4, 0, 0, 1);
    &.active {
      opacity: 1;
      z-index: 1;
    }
  }
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  width: 20px;
  height: 20px;

  path {
    fill: rgba($color: #000000, $alpha: 0.2);
  }
}

.prev {
  left: 40px;
}
.next {
  right: 40px;
}
